#form_container {
    padding-top: 5em;
}

.smTableBorder {
    border: 2px solid #222222;
    margin: 25px 0 25px 0;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.loginError {
    color: red;
    padding: 0.5rem;
    border: 1px solid red;
    margin-bottom: 1rem;
    background-color: lightyellow;
}