<div class="container-fluid trackerTable">
    <h1 class="trackerTitle">May Deployments</h1>
    <h2>Select Week Deployments:</h2>
    <ul class="list-inline monthList">
        <li class="list-inline-item">
            <a class="nav-link" routerLink="W1Dvl1">W1Dvl1</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="W1Dvl2">W1Dvl2</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>