<div class="container-fluid trackerTable">
    <h1 class="trackerTitle">Select Month: {{userName}}</h1>
    <ul class="list-inline monthList">
        <li class="list-inline-item">
            <a class="nav-link" routerLink="January">January</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="February">February</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="March">March</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="April">April</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="May">May</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="June">June</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="July">July</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="August">August</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="September">September</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="October">October</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="November">November</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" routerLink="December">December</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>