<footer class="footer1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_nav_menu">
                        <h1 class="title-widget">Declarations</h1>
                        <ul class="footerText">
                            <li><a href="javascript:void(0)"><i class="fa fa-caret-right"></i> About Us</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-caret-right"></i> Privacy Police</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-caret-right"></i> Terms Of Use</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-caret-right"></i> FAQ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_nav_menu">
                        <h1 class="title-widget">Deployment Layers</h1>
                        <ul class="footerText">
                            <li><a href="{{dvlLink}}" target="_new">DVL</a></li>
                            <li><a href="{{qatLink}}" target="_new">QAT</a></li>
                            <li><a href="{{stgLink}}" target="_new">STG</a></li>
                            <li><a href="{{prodLink}}" target="_new">PROD</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_recent_news">
                        <h1 class="title-widget">Contact Detail </h1>
                        <div class="footerp">
                            <p><b>Email id 1:</b> <a href="mailto:sivasankar.s3@tcs.com">sivasankar.s3@tcs.com</a></p>
                            <p><b>Email id 2:</b> <a href="mailto:muthumeenakshi.p2@tcs.com">muthumeenakshi.p2@tcs.com</a></p>
                            <p>Contact Number 1: +91-9789648965 </p>
                            <p>Contact Number 2: +91-9500049992 </p>
                        </div>
                        <div class="social-icons">
                            <ul class="nomargin">
                                <a href="https://www.facebook.com/virginatlantic" target="_new"><img class="img-responsive" src="{{facebookLogo}}" alt="facebook"></a>
                                <a href="https://twitter.com/VirginAtlantic" target="_new"><img class="img-responsive" src="{{twitterLogo}}" alt="twitter"></a>
                                <a href="https://plus.google.com/105033693509484023189" target="_new"><img class="img-responsive" src="{{googleLogo}}" alt="googlePlus"></a>
                                <a href="mailto:DeltaDotComAir4Dev@delta.com"><img class="img-responsive" src="{{outlookLogo}}" alt="mail"></a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="copyright">
                        <p>© 2017 CodeOne Developers. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="design">
                        <a href="javascript:void(0)">CodeOne Developers </a> | <a target="_blank" href="http://www.facebook.com/sivasankar.mahesh">FrontEnd Developer & Angular Developers </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>