.footer1 {
    background: #0b243a;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    /*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}

.footer1 .container-fluid {
    background-color: #0b243a;
}

.footer1 .container-fluid ul li h1,
.footer1 .container-fluid ul li h2 {
    color: #ffffff;
}

.footer1 .container-fluid ul.footerText li a {
    color: #bdc3c7;
}

.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}

.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width: 95%;
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {
    font-family: 'Gudea', sans-serif;
    color: #bdc3c7;
}

.footerp a {
    font-family: 'Gudea', sans-serif;
    color: #ffffff;
}

.footer1 .container-fluid .social-icons a img {
    width: 4rem;
}

.nomargin {
    margin: 0px;
    padding: 0px;
}

.footer-bottom {
    background-color: #0b243a;
    min-height: 30px;
    width: 100%;
    border-top: 1px solid #fff;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.design a {
    color: #fff;
}